<div class="leftside-menu">
    <!-- LOGO -->
    <a href="/Admin" class="logo text-center logo-light">
        <span class="logo-lg">
           ADMIN
        </span>
        <span class="logo-sm">
            ADMIN
        </span>
    </a>

    <!-- LOGO -->
    <a href="/Admin" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="~/Assets/img/admin/Admin-designstyle-jungle-m.png" alt="" style="object-fit: fill; width: 200px; height: 50px;">
        </span>
        <span class="logo-sm">
            <img src="~/Assets/img/admin/Admin-designstyle-jungle-m.png" alt="" style="object-fit: fill; width: 200px; height: 50px;">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">
            <li class="side-nav-item">
                <a  href="/Admin" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Trang chủ </span>
                </a>
            </li>

            <li class="side-nav-title side-nav-item">Hệ thống</li>


            <li class="side-nav-item">
                <a href="/Admin/AccountMana" class="side-nav-link">
                    <i class="uil-users-alt"></i>
                    <span> Quản lý người dùng </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarCategory"
                   aria-expanded="false"
                   aria-controls="sidebarCategory" class="side-nav-link">
                    <i class="uil-list-ui-alt"></i>
                    <span> Loại sản phẩm </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarCategory">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/Admin/CategoryMana">Quản lý lọai sản phẩm</a>
                        </li>
                        <li>
                            <a href="/Admin/CategoryMana/Add">Thêm loại sản phẩm</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarProduct"
                   aria-expanded="false"
                   aria-controls="sidebarProduct" class="side-nav-link">
                    <i class="uil-windsock"></i>
                    <span> Sản phẩm </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarProduct">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/Admin/ProductMana">Quản lý sản phẩm</a>
                        </li>
                        <li>
                            <a href="/Admin/ProductMana/Add">Thêm sản phẩm</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/OrderMana" class="side-nav-link">
                    <i class="uil-cart"></i>
                    <span> Quản lý đơn hàng </span>
                </a>
            </li>
        </ul>
        <!-- End Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>