@model ProjectWeb.Models.Entity.about

@{
    ViewBag.Title = "Trang giới thiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var pageTitleModel = new List<string>() { "Trang giới thiệu", "Quản lý trang giới thiệu" };
}

@section css {
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/super-build/ckeditor.js"></script>
}

<!-- start page title -->
@Html.Partial("_PageTitle", pageTitleModel)
<!-- end page title -->
@using (Html.BeginForm("Edit", "AboutMana", FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        }))
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- end card-body -->
                <div class="card-body">
                    <div class="row">
                        <h4 class="col-xl-12 card-title">Chỉnh sửa trang giới thiệu</h4>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Nội dung</label>
                                <textarea id="editor" name="content" class="form-control" rows="10">@Model.content</textarea>
                            </div>
                        </div> <!-- end col-->
                    </div>
                    <button class="btn btn-sm btn-primary mt-2">Chỉnh sửa</button>
                    <!-- end row -->
                </div>
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
}
<script src="~/Scripts/admin/CKEditor.js"></script>