<div class="text-center content-space-1">
    <img class="avatar avatar-xl mb-3" src="~/Assets/svg/illustrations/empty-state-no-data.svg" alt="Image Description">
    <p class="card-text">Không có đơn hàng</p>
    <a class="btn btn-white btn-sm" href="/Product">Mua sắm ngay</a>
</div>