@{
    ViewBag.Title = "Hệ thống fanpage chính thức";
}
<div class="container">
    <div class=" ">
        <h3>Dưới đây là thông tin các Fanpage chính thức của HP Shop:</h3>
        <h4>1. HP Shop - Game bản quyền</h4>
        <p class="">
            <a class="underline underline-offset-2 text-primary"
               href="javascript:void(0)">https://www.facebook.com/hpshop.vn</a>
        </p>
        <h4>2. HP Shop - Tài khoản vip bản quyền</h4>
        <p class="">
            <a class="underline underline-offset-2 text-primary"
               href="javascript:void(0)">https://www.facebook.com/hpshop.vn.account.vip</a>
        </p>
        <h4>3. HP Shop - Tài khoản trắng thông tin</h4>
        <p class="">
            <a class="underline underline-offset-2 text-primary"
               href="javascript:void(0)">https://www.facebook.com/hpshop.vn.account</a>
        </p>
    </div>

    <div class=" ">
        <p class="bg-info text-white">
            <strong class="font-bold text-white"> LIÊN HỆ BẢO HÀNH - </strong>Từ 8:30 - 23:00 các
            ngày trong tuần kể cả T7 CN
        </p>
        <div class="px-4 py-1 bg-soft-info">
            <div class="flex flex-row">
                <div class="flex-1 space-y-1">
                    <p class=" ">
                        <strong class="font-bold">Phản hồi nhanh nhất:</strong> Zalo
                        <a class="underline underline-offset-2 text-primary" href="javascript:void(0)">HP</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="px-4 py-1 bg-soft-info">
            <div class="flex flex-row">
                <div class="flex-1 space-y-1">
                    <p class=" ">
                        <strong class="font-bold">Fanpage Facebook</strong>:
                        <strong class="font-bold"> </strong><a class="underline underline-offset-2 text-primary"
                                                               href="javascript:void(0)">
                            HP Shop
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="px-4 py-1 bg-soft-info">
            <div class="flex flex-row">
                <div class="flex-1 space-y-1">
                    <p class=" ">
                        <strong class="font-bold">Email:</strong> hotro@hpshop.vn
                    </p>
                </div>
            </div>
        </div>
        <p class="bg-info text-white">
            <strong class="font-bold"> LIÊN HỆ TƯ VẤN MUA HÀNG - </strong>Từ 8:30 -
            23:00 các ngày trong tuần kể cả T7 CN
        </p>
        <div class="px-4 py-1 bg-soft-info">
            <div class="flex flex-row">
                <div class="flex-1 space-y-1">
                    <p class=" ">
                        <strong class="font-bold">Zalo Official Account</strong>:
                        <a class="underline underline-offset-2 text-primary" href="javascript:void(0)">HP</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="px-4 py-1 bg-soft-info">
            <div class="flex flex-row">
                <div class="flex-1 space-y-1">
                    <p class=" ">
                        <strong class="font-bold">Nhắn tin Fanpage:</strong>
                        <a class="underline underline-offset-2 text-primary"
                           href="javascript:void(0)">HP Shop - Game bản quyền</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="px-4 py-1 bg-soft-info">
            <div class="flex flex-row">
                <div class="flex-1 space-y-1">
                    <p class=" ">
                        <strong class="font-bold">Email:</strong> hotro@hpshop.vn
                    </p>
                </div>
            </div>
        </div>
        <div class="px-4 py-1 bg-soft-info">
            <div class="flex flex-row">
                <div class="flex-1 space-y-1">
                    <p class=" ">
                        <strong class="font-bold">Hotline tự động không người trực: </strong>
                        <a class="underline underline-offset-2 text-primary" href="tel:1900633305">
                            1900 633 305
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("Client")