@{
    ViewBag.Title = "IconBlock";
}

<div class="border-bottom">
    <div class="container content-space-2">
        <div class="row">
            <div class="col-md-4 mb-7 mb-md-0">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="avatar avatar-4x3" src="~/Assets/svg/illustrations/oc-protected-card.svg" alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">Thanh toán bảo mật</h4>
                        <p class="small mb-0">
                            Đảm bảo thanh toán an toàn
                        </p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->

            <div class="col-md-4 mb-7 mb-md-0">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="avatar avatar-4x3" src="~/Assets/svg/illustrations/oc-return.svg" alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">Bảo hành trọn đời</h4>
                        <p class="small mb-0">Bảo hành và hỗ trợ tài khoản 24/7.</p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->

            <div class="col-md-4">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="avatar avatar-4x3" src="~/Assets/svg/illustrations/oc-truck.svg" alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">Nhiều khuyến mãi</h4>
                        <p class="small mb-0">Nhiều chương trình khuyến mãi sale tới 80% tài khoản.</p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>