@{
    ViewBag.Title = "Giới thiệu Minecraft";
}
<div class="container">
    <div class="content">
        <div class="markdownEditor" id="markdown-editor">
            <div class="row">
                <div class="col-md-3 p-0">
                    <div class="card" style="border:none">
                        <div class="card-header bg-soft-primary p-2">
                            <h3>Giới thiệu</h3>
                        </div>
                        <div class="card-body">
                            <p>
                                Bạn có thể tải xuống ngay lập tức các phiên bản Launcher Minecraft khác nhau để chơi miễn
                                phí. Có các phiên bản dành cho PC Windows, Macbook và Linux nữa. <br>
                                Toàn bộ link tải không có quảng cáo, tải xuống nhanh chóng, ngay lập tức và an toàn cho
                                máy tính của bạn. <i aria-hidden="true" class="fa fa-smile-o mr-2"></i><b style="color:#ff002d">From admin with LOVE</b>
                            </p>
                            <hr>
                            <a href="javascipt:void(0)" style="text-decoration: none;">
                                <div class="card hvr-float mb-4 shadow card-san-pham" style="max-width: 250px">
                                    <div class="card-body p-0">
                                        <img alt="Acc Trắng thông tin" src="https://accminecraft.net/image/product/372962b6badb0c74ffd5417a169c4668an9DF" style="padding-top: 0px" width="100%">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card" style="border:none">
                        <div class="card-header bg-soft-primary p-2">
                            <h3>Link tải miễn phí Minecraft nhanh chóng</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h1>Minecraft là gì?</h1>
                                <p>
                                    Minecraft là tựa game đa nền tảng thuộc thể loại Sandbox. Game do một lập trình viên người Thụy Điển sáng tạo và phát hành trên TIGSource vào ngày 17/05/2009. Năm 2011, trò chơi này tiếp tục được phát hành bởi Mojang cho đến năm 2014, khi Microsoft mua lại bản quyền. Hiện tại, Minecraft được quản lý và điều hành bởi Xbox Game Studios. Sự hấp dẫn của tựa game đình đám này đã khai sáng ra một thể thức game mới và thôi thúc các nhà phát triển tung ra nhiều game tương tự Minecraft
                                </p>
                                <img src="~/Assets/img/client/minecraft-la-gi6.jpg" alt="Alternate Text" />
                                <p>
                                    Với Minecraft, người dùng có thể thoải mái sáng tạo và xây dựng các mô hình chân thật cùng cách sắp xếp các khối lập phương. Game có nhiều chế độ và yêu cầu nhiệm vụ khác nhau như: Thu thập các tài nguyên, tiềm kiếm, chế tạo hay chiến đấu. Trò chơi là cơ hội để người chơi phát triển tư duy, bởi lẽ trong quá trình đi khám phá bản đồ, người dùng sẽ có cơ hội tham quan nhiều di tích và kỳ quan. Tùy vào chế độ chơi mà người chơi thực hiện các nhiệm vụ khác nhau.
                                </p>
                            </div>
                            <div class="list-group">
                                <h4>Link tải JAVA dành cho Minecraft PC</h4>
                                <p>
                                    Cần có JAVA đã cài đặt sẵn trên máy tính của bạn để chơi được Minecraft. Java để chơi
                                    Minecraft là JRE 1.8
                                </p>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://www.java.com/en/download/manual.jsp" target="_blank" title="Link tải Java dành cho Minecraft JRE 1.8 miễn phí">
                                    Link tải
                                    Java Runtime Environment 1.8.0 <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <hr>
                                <h4>Tải Minecraft PC miễn phí - chơi miễn phí không cần tạo acc trên máy tính</h4>
                                <p>
                                    Các launcher Minecraft miễn phí như Shignima Launcher, KLauncher, Tlauncher, Fenix
                                    Launcher, Titan Launcher
                                </p>

                                <h5 class="mt-2 mb-2">
                                    <b>
                                        * Tlauncher - Minecraft launcher miễn phí phổ biến nhất không
                                        yêu cầu tài khoản
                                    </b>
                                </h5>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/1y9DyLVD5s9CylRdCziWDpXDjifz91mGi/view?usp=drive_link" title="Tải Minecraft miễn phí Tlauncher dành cho PC Windows ">
                                    Tlauncher dành cho PC
                                    Windows <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/1culBmyy2molMySzsAxQDqJ57tiQifTtQ/view?usp=drive_link" title="Tải Minecraft miễn phí Tlauncher dành cho Linux và MacOs phiên bản file JAR">
                                    Tlauncher
                                    dành cho Linux / MacOs file JAR <i aria-hidden="true" class="fa fa-download"></i>
                                </a>

                                <h5 class="mt-2 mb-2">
                                    <b>
                                        * TL Legacy Launcher - Tlauncher Minecraft gốc với giao diện
                                        đơn giản và
                                        dễ sử dụng hoàn toàn miễn phí
                                    </b>
                                </h5>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/110t-N4UPrsKmwrE2GBwv9X7bTxF15m8N/view?usp=drive_link" title="Tải Minecraft miễn phí TL Legacy Launcher dành cho PC Windows ">
                                    TL Legacy
                                    Launcher Windows <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/1mGqrffaTRpa4rYiPq6nt3STHUW20H2a-/view?usp=drive_link" title="Tải Minecraft miễn phí TL Legacy Launcher dành cho PC MacOs ">
                                    TL Legacy
                                    Launcher MacOs <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/18NTeXekEEw1yXpgwGeNk780qBnfHXo3H/view?usp=drive_link" title="Tải Minecraft miễn phí TL Legacy Launcher dành cho Ubuntu Linux ">
                                    TL Legacy
                                    Launcher Ubuntu Linux <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/1QBxxLGOb6pyZo_l7WVvNahYZgrz0VEIX/view?usp=drive_link" title="Tải Minecraft miễn phí TL Legacy Launcher dành cho PC phiên bản file JAR ">
                                    TL
                                    Legacy Launcher File JAR <i aria-hidden="true" class="fa fa-download"></i>
                                </a>

                                <h5 class="mt-2 mb-2"><b>* Fenix Launcher</b></h5>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/19VHU3zcmc_Esm8ntiw-lwNq8B3iljdS-/view?usp=drive_link" title="Tải Minecraft miễn phí Fenix Launcher dành cho PC Windows ">
                                    Fenix Launcher
                                    File Exe Windows <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/15q76Smyj30tPUbFCqh-FkrFtTazMGFk8/view?usp=drive_link" title="Tải Minecraft miễn phí Fenix Launcher dành cho PC file Jar ">
                                    Fenix Launcher
                                    file Jar <i aria-hidden="true" class="fa fa-download"></i>
                                </a>


                                <h5 class="mt-2 mb-2">
                                    <b>
                                        * Shignima Launcher - Minecraft Launcher miễn phí phổ biến
                                        nhất
                                    </b>
                                </h5>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/1X8swyoNA0oODoXJ-Vypfxuv_eTQrGYgT/view?usp=drive_link" title="Tải Minecraft miễn phí Shignima Launcher dành cho PC Windows file JAR">
                                    Shignima
                                    Launcher File Jar Windows (Windows / Linux / MacOS đều được) <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/1FymMvpjYsJBX3w8yB6F2K_962O8sy8Qm/view?usp=drive_link" title="Tải Minecraft miễn phí Shignima Launcher dành cho PC Windows file Exe">
                                    Shignima
                                    Launcher File Exe Windows <i aria-hidden="true" class="fa fa-download"></i>
                                </a>

                                <h5 class="mt-2 mb-2"><b>* Titan Launcher - Tương tự Shignima Launcher</b></h5>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/1lISiuCaUZ7_pGTJbyloKX-flrovCIJwo/view?usp=drive_link" title="Tải Minecraft miễn phí Titan Launcher dành cho PC Windows MacOs và Linux file JAR">
                                    Titan
                                    Launcher - All Version (Jar File) <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/10IhYEi2rTxDYza0Zc7lAc_RLa0FaKuUO/view?usp=drive_link" title="Tải Minecraft miễn phí Titan Launcher dành cho PC Windows file Exe">
                                    Titan
                                    Launcher (Exe File) <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <hr>
                                <h4>
                                    Tải Minecraft PC cần acc bản quyền (tài khoản Microsoft đã mua game Minecraft hoặc
                                    MOJANG)
                                </h4>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="#" title="Minecraft 1.0 (Official Release)">
                                    Minecraft Launcher chính thức nằm trong
                                    Microsoft Store trên máy tính Windows 10 / 11 của bạn. Hãy tìm game: Minecraft Java
                                    &amp; Bedrock Edition nhưng lưu ý phải mua game mới tải được nhé. <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <h5 class="mt-2 mb-2">
                                    <b>
                                        * Lunar Client Launcher dành cho PC (chuyên PvP, skywar và
                                        bedwar)
                                    </b>
                                </h5>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://launcherupdates.lunarclientcdn.com/Lunar%20Client%20v2.15.1.exe" title="Tải xuống Minecraft PC Lunar Client Launcher dành cho PC Windows - PvP launcher, skywar, bedwar">
                                    Lunar
                                    Client Launcher (EXE File - Windows) - PvP launcher, skywar, bedwar <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://launcherupdates.lunarclientcdn.com/Lunar%20Client%20v2.15.1.dmg" title="Tải xuống Minecraft PC Lunar Client Launcher dành cho Macbook MacOs - PvP launcher, skywar, bedwar">
                                    Lunar
                                    Client Launcher (Dmg File - MacOS) - PvP launcher, skywar, bedwar <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://launcherupdates.lunarclientcdn.com/Lunar%20Client-2.15.1.AppImage" title="Tải xuống Minecraft PC Lunar Client Launcher dành cho Linux - PvP launcher, skywar, bedwar">
                                    Lunar
                                    Client Launcher (AppImage File - Linux) - PvP launcher, skywar, bedwar <i aria-hidden="true" class="fa fa-download"></i>
                                </a>

                                <h5 class="mt-2 mb-2"><b>* Badlion Client - Minecraft Launcher PvP tốt nhất</b></h5>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://client-updates-cdn77.badlion.net/Badlion%20Client%20Setup%203.16.0.exe" title="Tải xuống Minecraft Badlion Launcher dành cho PC (Windows)">
                                    Badlion Launcher
                                    dành cho PC (Windows) <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://client-updates-cdn77.badlion.net/Badlion%20Client-3.15.1.dmg" title="Tải xuống Minecraft Badlion Launcher dành cho Macbook (MacOs)">
                                    Badlion
                                    Launcher dành cho Macbook (MacOs)<i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://client-updates-cdn77.badlion.net/BadlionClient" title="Tải xuống Minecraft Badlion Launcher dành cho Linux">
                                    Badlion Launcher dành
                                    cho Linux <i aria-hidden="true" class="fa fa-download"></i>
                                </a>

                                <h5 class="mt-2 mb-2"><b>* LabyMod Launcher</b></h5>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://releases.r2.labymod.net/launcher/win32/x64/LabyModLauncherSetup-latest.exe" title="Tải xuống Minecraft PC LabyMod Launcher dành cho máy tính Windows">
                                    LabyMod
                                    Launcher máy tính Windows <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://releases.r2.labymod.net/launcher/darwin/x64/LabyMod%20Launcher-latest-x64.dmg" title="Tải xuống Minecraft PC LabyMod Launcher dành cho máy tính MacOs chip Intel ">
                                    LabyMod
                                    Launcher MacOs Chip Intel <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://releases.r2.labymod.net/launcher/darwin/arm64/LabyMod%20Launcher-latest-arm64.dmg" title="Tải xuống Minecraft PC LabyMod Launcher dành cho máy tính MacOs chip ARM">
                                    LabyMod
                                    Launcher MacOs Chip ARM <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://releases.r2.labymod.net/launcher/linux/x64/labymodlauncher-latest-1.x86_64.rpm" title="Tải xuống Minecraft PC LabyMod Launcher dành cho máy tính Linux Rpm file">
                                    LabyMod
                                    Launcher Linux - Rpm file <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://releases.r2.labymod.net/launcher/linux/x64/labymodlauncher_latest_amd64.deb" title="Tải xuống Minecraft PC LabyMod Launcher dành cho máy tính Linux Deb File ">
                                    LabyMod
                                    Launcher Linux - Deb File <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://releases.r2.labymod.net/launcher/linux/x64/LabyMod%20Launcher-latest.AppImage" title="Tải xuống Minecraft PC LabyMod Launcher dành cho máy tính Linux AppImage File ">
                                    LabyMod
                                    Launcher Linux - AppImage File <i aria-hidden="true" class="fa fa-download"></i>
                                </a>

                                <h5 class="mt-2 mb-2">
                                    <b>
                                        * Salwyrr Client Launcher - Top 1 Launcher cho PvP, Bedwars,
                                        Skywars game
                                    </b>
                                </h5>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/1Q0ji8qLoU5Irsi8n-OGgD-SKsssmlOh4/view?usp=drive_link" title="Tải xuống Minecraft PC Salwyrr Client Launcher file jar">
                                    Salwyrr Client
                                    Launcher File Jar (dành cho MacOs, Windows, Linux..) <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/13AAmjthw-3FrzZcVpe1hbqvCAF0WcJvA/view?usp=drive_link" title="Tải xuống Minecraft PC Salwyrr Client Launcher file exe dành cho Windows">
                                    Salwyrr
                                    Client Launcher File Exe (dành cho Windows) <i aria-hidden="true" class="fa fa-download"></i>
                                </a>

                                <h5 class="mt-2 mb-2">
                                    <b>
                                        * Feather Client Launcher - Forge và Fabric cùng hàng trăm
                                        cosmetic đẹp lung linh
                                    </b>
                                </h5>
                                <a class="list-group-item list-group-item-action minecraft-version" data-placement="top" data-toggle="tooltip" href="https://drive.google.com/file/d/1xhYHpU8UXeQGipRH6hpISuWsAQXOn1S1/view?usp=drive_link" title="Tải xuống Feather Client Minecraft Launcher dành cho máy tính Windows">
                                    Feather
                                    Client Launcher <i aria-hidden="true" class="fa fa-download"></i>
                                </a>
                                <hr>
                                <div class="mt-2">
                                    <p class="alert alert-danger">
                                        Lưu ý: Nếu link có bị lỗi hãy liên hệ ngay với admin
                                        qua chat ở bên dưới màn hình để được hỗ trợ nhận link tải mới nhất nhé. Chúng
                                        tôi sẽ hỗ trợ bạn nhanh nhất có thể!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>