@model dynamic

@{
    ViewBag.Title = "Chính sách mua hàng";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title category-title">
                <h1 class="title-head">
                    <a href="/dieu-khoan" title="Điều khoản">Điều khoản</a>
                </h1>
            </div>
            <div class="content-page rte">
                <p>Chào mừng quý khách đến mua sắm tại BOARD GAME VN. Sau khi truy cập vào website BOARD GAME VN để tham khảo hoặc mua sắm, quý khách đã đồng ý tuân thủ và ràng buộc với những quy định của BOARD GAME VN. Vui lòng xem kỹ các quy định và hợp tác với chúng tôi để xây dựng 1 website BOARD GAME VN ngày càng thân thiện và phục vụ tốt những yêu cầu của chính quý khách. Ngoài ra, nếu có bất cứ câu hỏi nào về những thỏa thuận dưới đây, vui lòng liên hệ với BOARD GAME VN theo số điện thoại hotline 0969914344 hoặc email cho chúng tôi qua địa chỉ cskh@boardgame.vn.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Tài khoản của khách hàng</strong>
                </p>
                <p>Một số dịch vụ, tính năng tại đây yêu cầu quý khách cần phải đăng ký Tài khoản BOARD GAME VN thì mới có thể sử dụng. Do đó, để tận hưởng đầy đủ các dịch vụ và tính năng này, quý khách vui lòng cho phép BOARD GAME VN tiến hành xử lý các dữ liệu cá nhân cơ bản sau:</p>
                <p>• <strong>Dữ liệu cá nhân cơ bản bắt buộc phải cung cấp</strong>, là các thông tin giúp xác định danh tính đối với từng tài khoản BOARD GAME VN, bao gồm họ tên, địa chỉ email, số điện thoại,... của quý khách.</p>
                <p>Trường hợp quý khách đăng ký tài khoản BOARD GAME VN thông qua tài khoản Facebook hoặc Google, các dữ liệu cá nhân cơ bản của quý khách cung cấp cho các nền tảng này như họ tên, địa chỉ email, số điện thoại, ảnh đại diện,... sẽ được gửi đến BOARD GAME VN ngay khi quý khách cho phép BOARD GAME VN truy cập vào thông tin của quý khách trên các nền tảng này theo từng chính sách của nền tảng.</p>
                <p>• <strong>Dữ liệu cá nhân cơ bản được cung cấp để phục vụ giao dịch</strong>, là các thông tin cần thiết để thực hiện một giao dịch tại website boardgame.vn, bao gồm địa chỉ giao hàng, địa chỉ thanh toán, phương thức thanh toán,... của quý khách.</p>
                <p>• <strong>Dữ liệu cá nhân cơ bản tự nguyện cung cấp</strong>, là các thông tin mà quý khách có thể chia sẻ (hoặc không) để cá nhân hóa trải nghiệm sử dụng dịch vụ tại BOARD GAME VN, bao gồm ngày tháng năm sinh, giới tính, sở thích, nghề nghiệp,... của quý khách.</p>
                <p>Việc sử dụng và bảo mật thông tin Tài khoản BOARD GAME VN là trách nhiệm và quyền lợi của quý khách khi sử dụng dịch vụ tại BOARD GAME VN. Quý khách phải giữ kín mật khẩu và tài khoản, hoàn toàn chịu trách nhiệm đối với tất cả các hoạt động diễn ra thông qua việc sử dụng mật khẩu hoặc tài khoản của mình. Quý khách nên đảm bảo thoát khỏi Tài khoản BOARD GAME VN sau mỗi lần sử dụng để bảo mật dữ liệu cá nhân của mình.</p>
                <p>Trong trường hợp thông tin do quý khách cung cấp không đầy đủ hoặc có sai sót dẫn đến việc không thể giao hàng cho quý khách, chúng tôi có quyền đình chỉ hoặc từ chối phục vụ, giao hàng mà không phải chịu bất cứ trách nhiệm nào đối với quý khách. Khi có những thay đổi thông tin của quý khách, vui lòng cập nhật lại thông tin trong Tài khoản BOARD GAME VN.</p>
                <p>
                    <strong>Quyền lợi bảo mật dữ liệu cá nhân của khách hàng</strong>
                </p>
                <p>Khi sử dụng dịch vụ tại website BOARD GAME VN, quý khách được đảm bảo rằng những thông tin cung cấp cho chúng tôi sẽ chỉ được dùng để nâng cao chất lượng dịch vụ dành cho khách hàng của BOARD GAME VN và sẽ không được chuyển giao cho một bên thứ ba nào khác vì mục đích thương mại. Trường hợp quý khách có yêu cầu: rút lại sự đồng ý, xóa, chỉnh sửa, phản đối, yêu cầu cung cấp, yêu cầu hạn chế xử lý đối với các dữ liệu cá nhân của mình, quý khách vui lòng thao tác trên hệ thống website hoặc liên hệ với BOARD GAME VN theo số điện thoại hotline 0969914344 hoặc email cho chúng tôi qua địa chỉ cskh@boardgame.vn.</p>
                <p>Dữ liệu cá nhân của quý khách tại BOARD GAME VN sẽ được chúng tôi bảo mật và chỉ trong trường hợp pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan có thẩm quyền.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Trách nhiệm của khách hàng khi sử dụng dịch vụ của </strong><strong>BOARD GAME VN</strong>
                </p>
                <p>Quý khách tuyệt đối không được sử dụng bất kỳ công cụ, phương pháp nào để can thiệp, xâm nhập bất hợp pháp vào hệ thống hay làm thay đổi cấu trúc dữ liệu tại website BOARD GAME VN. Quý khách không được có những hành động (như thực hiện, cổ vũ,...) việc can thiệp, xâm nhập dữ liệu của BOARD GAME VN cũng như hệ thống máy chủ của chúng tôi.</p>
                <p>Quý khách không được đưa ra những nhận xét, đánh giá có ý xúc phạm, quấy rối, làm phiền hoặc có bất cứ hành vi nào thiếu văn hóa đối với người khác. Không nêu ra những nhận xét có tính chính trị (tuyên truyền, chống phá, xuyên tạc chính quyền), kỳ thị tôn giáo, giới tính, sắc tộc.... Tuyệt đối cấm mọi hành vi mạo nhận, cố ý tạo sự nhầm lẫn mình là một khách hàng khác hoặc là thành viên Ban Quản Trị BOARD GAME VN.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>Trách nhiệm và quyền lợi của </strong><strong>BOARD GAME VN</strong>
                </p>
                <p><strong>Trách nhiệm của </strong><strong>BOARD GAME VN</strong>: Chúng tôi chịu trách nhiệm tuân thủ các nguyên tắc về xử lý dữ liệu cá nhân theo đúng quy định pháp luật và các điều khoản được nêu ra tại Chính sách bảo mật dữ liệu cá nhân của khách hàng (vui lòng xem chi tiết <u>tại đây</u>). Trong trường hợp có những phát sinh ngoài ý muốn hoặc trách nhiệm của mình, BOARD GAME VN sẽ không chịu trách nhiệm về mọi tổn thất phát sinh.</p>
                <p><strong>Quyền lợi của </strong><strong>BOARD GAME VN</strong>: Chúng tôi không cho phép bất kỳ tổ chức, cá nhân nào quảng bá sản phẩm tại website BOARD GAME VN mà chưa có sự đồng ý bằng văn bản từ BOARD GAME VN. Các thỏa thuận và quy định trong Điều khoản sử dụng này có thể thay đổi vào bất cứ lúc nào nhưng sẽ được BOARD GAME VN thông báo cụ thể trên website BOARD GAME VN.</p>
                <p>&nbsp;</p>
                <p>Ngoài ra, xin vui lòng thông báo cho quản trị web của BOARD GAME VN ngay khi quý khách phát hiện ra lỗi hệ thống theo số điện thoại hotline 0969914344 hoặc email cho chúng tôi qua địa chỉ cskh@boardgame.vn.</p>
                <p>
                    <strong>Hiệu Lực</strong>
                </p>
                <p>Điều Khoản Sử Dụng Dịch Vụ này được cập nhật và có hiệu lực từ ngày 01/01/2024.</p>
                <p>BOARD GAME VN có thể điều chỉnh Điều Khoản Sử Dụng Dịch Vụ này vào bất kỳ thời điểm nào, và đăng tải công khai Điều Khoản Sử Dụng đã được điều chỉnh trên website BOARD GAME VN.com. Việc khách hàng tiếp tục sử dụng dịch vụ của BOARD GAME VN mà không có bất kỳ khiếu nại nào đối với Chính Sách được điều chỉnh sẽ được hiểu rằng khách hàng đã chấp thuận Điều Khoản Sử Dụng Dịch Vụ được điều chỉnh đó của BOARD GAME VN.</p>
            </div>
        </div>
    </div>
</div>