@model dynamic

@{
    ViewBag.Title = "Chính sách đổi trả";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title category-title">
                <h1 class="title-head">
                    Chính sách đổi trả
                </h1>
            </div>
            <div class="content-page rte">
                <p>
                    <strong>Board Game VN</strong><strong> thông báo các điều kiện và chính sách đổi/ trả hàng như sau:</strong>
                </p>
                <p>
                    <strong>1. Chính sách bảo hành:</strong>
                </p>
                <ul start="1">
                    <li data-list="bullet">
                        <p>Sản phẩm còn trong thời gian bảo hành được ghi nhận trên phiếu bảo hành hoặc hóa đơn mua hàng của webiste Board Game VN và được xác định là lỗi nhà sản xuất. Việc xác định lỗi được thực hiện đơn phương bởi website boardgame.vn</p>
                    </li>
                    <li data-list="bullet">
                        <p>Khách hàng có thể đem hoặc gửi sản phẩm đến kho hàng Board Game VN theo địa chỉ ghi trên phiếu bảo hành hoặc hóa đơn qua đường bưu điện. Chi phí vận chuyển sẽ do khách hàng chi trả.</p>
                    </li>
                    <li data-list="bullet">
                        <p>Phía Board Game VN sẽ tiến hành kiểm tra tổng quan sản phẩm, nếu phát hiện lỗi hư hỏng do từ phía Khách hàng không phải lỗi kỹ thuật từ nhà sản xuất (Bể, nước vào sản phẩm, ..) thì Board Game VN tư vấn cho Khách hàng và từ chối tiếp nhận bảo hành. Nếu Khách hàng vẫn mong muốn được hỗ trợ sửa chữa thì tư vấn cho Khách hàng theo Quy trình sửa chữa tính phí.</p>
                    </li>
                </ul>
                <p>- Thời gian bảo hành:</p>
                <p>+ Khu vực HN/HCM: 7 ngày làm việc (kể cả thời gian vận chuyển)</p>
                <p>+ Khu vực tỉnh: 17 ngày làm việc (kể cả thời gian vận chuyển)</p>
                <p>
                    <strong>2. Điều kiện được đổi/ trả hàng hóa:</strong>
                </p>
                <ul start="1">
                    <li data-list="bullet">
                        <p>Sản phẩm bị lỗi kỹ thuật do nhà sản xuất hoặc thiếu chi tiết nhưng bên ngoài sản phẩm không bị trầy xước/ bể/ vỡ/ móp méo.</p>
                    </li>
                    <li data-list="bullet">
                        <p>Sản phẩm khách hàng nhận không đúng sản phẩm đã đặt hàng và sản phẩm còn bao bì nguyên vẹn, không bị rách/ móp.</p>
                    </li>
                    <li data-list="bullet">
                        <p>Thời gian đổi trả trong vòng 03 ngày kể từ ngày khách hàng nhận được hàng hóa (thời gian này căn cứ thời gian khách hàng ký nhận trên vận đơn giao hàng).</p>
                    </li>
                    <li data-list="bullet">
                        <p>Sản phẩm đổi trả phải còn hóa đơn bán hàng do Board Game VN gửi kèm theo kiện hàng.</p>
                    </li>
                </ul>
                <p>
                    <strong>3. Chính sách đổi hàng:</strong>
                </p>
                <ul start="1">
                    <li data-list="bullet">
                        <p>Khách hàng đem sản phẩm đến đổi hàng trực tiếp tại kho hàng Board Game VN.</p>
                    </li>
                    <li data-list="bullet">
                        <p>Chỉ được đổi đúng mã sản phẩm đã mua.</p>
                    </li>
                </ul>
                <p>
                    <strong>4. Chính sách hoàn tiền:</strong>
                </p>
                <p>
                    <u>
                        <strong>4.1 Đơn hàng thanh toán COD/ Thẻ:</strong>
                    </u>
                </p>
                <ul start="1">
                    <li data-list="bullet">
                        <p>Hình thức hoàn tiền: chuyển khoản cho các đơn hàng thanh toán COD/ Thẻ.</p>
                    </li>
                    <li data-list="bullet">
                        <p>Thời gian chuyển khoản trong vòng 7 ngày làm việc kể từ ngày Board Game VN nhận được hàng hóa khách hàng gửi lại.</p>
                    </li>
                </ul>
                <p>
                    <u>
                        <strong>4.2 Cách thức gửi trả hàng:</strong>
                    </u>
                </p>
                <ul start="1">
                    <li data-list="bullet">
                        <p><strong>Bước 1: </strong>Khách hàng chụp hình/ quay clip sản phẩm bị lỗi hoặc bị hư hỏng… gửi thông tin và yêu cầu trả hàng qua một trong các kênh được liệt kê ở <strong>mục 5.</strong></p>
                    </li>
                    <li data-list="bullet">
                        <p><strong>Bước 2: </strong>Khách hàng gửi trả hàng theo 1 trong những cách sau:</p>
                    </li>
                </ul>
                <p>+ <em>Cách 1:</em> Đối với khách hàng nội thành HN/HCM, mang hàng trực tiếp đến trả tại kho hàng Board Game VN.</p>
                <p>+ <em>Cách 2:</em> Đối với khách hàng ngoại thành HN/HCM, gửi trả hàng về địa chỉ của kho hàng Board Game VN.</p>
                <p>
                    <strong>5. Thông tin liên hệ xử lý yêu cầu đổi/ trả hàng:</strong>
                </p>
                <ul start="1">
                    <li data-list="bullet">
                        <p>Địa chỉ: Tòa nhà Việt Đức Complex - 39 Lê Văn Lương</p>
                    </li>
                    <li data-list="bullet">
                        <p>Hotline: <strong>0969914344 </strong>- Từ thứ Hai đến thứ Bảy (08:00 - 17:00) Chủ nhật (08:00 - 12:00)</p>
                    </li>
                    <li data-list="bullet">
                        <p>Email: <strong>cskh@boardgame.vn</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>