@model dynamic

@{
    ViewBag.Title = "Chính sách bảo mật";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title category-title">
                <h1 class="title-head">
                    Chính sách bảo mật
                </h1>
            </div>
            <div class="content-page rte">
                <p>BOARD GAME VN mong muốn đem lại một tiện ích mua hàng trực tuyến tin cậy, tiết kiệm và thấu hiểu người dùng. Chúng tôi nhận thấy khách hàng sử dụng website boardgame.vn để mua sắm nhưng không phải ai cũng mong muốn chia sẻ dữ liệu cá nhân của mình. Chúng tôi, Công ty TNHH Everjoy Publishing, tôn trọng quyền riêng tư của khách hàng và cam kết bảo mật dữ liệu cá nhân của khách hàng khi khách hàng tin vào chúng tôi và cung cấp dữ liệu cá nhân của mình cho chúng tôi để mua sắm tại website boardgame.vn. Đây là nguyên tắc khi tiếp cận quyền riêng tư đối với dữ liệu cá nhân của khách hàng tại website boardgame.vn.</p>
                <p>&nbsp;</p>
                <p>Chính Sách Bảo Mật Dữ Liệu Cá Nhân này bao gồm các nội dung:</p>
                <ul start="1">
                    <li data-list="bullet">
                        <p>Sự Chấp Thuận</p>
                    </li>
                    <li data-list="bullet">
                        <p>Phạm Vi Thu Thập</p>
                    </li>
                    <li data-list="bullet">
                        <p>Mục Đích Xử Lý Dữ Liệu</p>
                    </li>
                    <li data-list="bullet">
                        <p>Cách Thức Xử Lý Dữ Liệu</p>
                    </li>
                    <li data-list="bullet">
                        <p>Thời Gian Lưu Trữ</p>
                    </li>
                    <li data-list="bullet">
                        <p>Không Chia Sẻ Dữ Liệu Cá Nhân Khách Hàng</p>
                    </li>
                    <li data-list="bullet">
                        <p>An Toàn Dữ Liệu</p>
                    </li>
                    <li data-list="bullet">
                        <p>Hậu Quả, Thiệt Hại Không Mong Muốn Có Khả Năng Xảy Ra</p>
                    </li>
                    <li data-list="bullet">
                        <p>Quyền, Nghĩa Vụ Của Khách Hàng Đối Với Dữ Liệu Cá Nhân</p>
                    </li>
                    <li data-list="bullet">
                        <p>Thông Tin Liên Hệ</p>
                    </li>
                    <li data-list="bullet">
                        <p>Các Tổ Chức, Cá Nhân Liên Quan Đến Việc Xử Lý Dữ Liệu</p>
                    </li>
                    <li data-list="bullet">
                        <p>Hiệu Lực</p>
                    </li>
                </ul>
                <p>&nbsp;</p>
                <p>
                    <strong>1. Sự Chấp Thuận</strong>
                </p>
                <p>Một thông báo sẽ được gửi cho quý khách trước khi BOARD GAME VN tiến hành bất kỳ hoạt động xử lý dữ liệu cá nhân nào. Do đó, việc quý khách xác nhận đồng ý cho phép BOARD GAME VN xử lý dữ liệu cá nhân của mình đồng nghĩa với việc quý khách đã đọc, hiểu rõ và tự nguyện đồng ý đối với các nội dung được nêu ra trong Chính Sách Bảo Mật Dữ Liệu Cá Nhân này. BOARD GAME VN cam kết rằng việc xử lý dữ liệu là đúng với mục đích, phù hợp và giới hạn trong phạm vi của Chính Sách Bảo Mật Dữ Liệu Cá Nhân. Trường hợp quý khách không đồng ý với toàn bộ hoặc một phần của Chính Sách này, quý khách có thể sử dụng các quyền như được nêu tại Mục 7 dưới đây. Chúng tôi bảo lưu quyền sửa đổi, bổ sung nhằm hoàn thiện đối với Chính Sách này vào bất kỳ thời điểm nào. Chúng tôi khuyến khích quý khách thường xuyên xem lại Chính Sách Bảo Mật Dữ Liệu Cá Nhân này để có được những cập nhật mới nhất đảm bảo quý khách biết và thực hiện quyền quản lý thông tin cá nhân của mình.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>2. Phạm Vi Thu Thập</strong>
                </p>
                <p>BOARD GAME VN chỉ thu thập <strong>dữ liệu cá nhân cơ bản</strong> của khách hàng, tức những thông tin giúp xác định một con người cụ thể, bao gồm: họ tên, địa chỉ email, số điện thoại, địa chỉ giao hàng, địa chỉ thanh toán, giới tính, ngày tháng năm sinh, sở thích, thông tin đăng nhập Tài khoản BOARD GAME VN (trừ mật khẩu đăng nhập),... và một số thông tin khác khi khách hàng tương tác trên website boardgame.vn.</p>
                <p>Cũng cần phải lưu ý rằng, BOARD GAME VN <strong>không</strong> tiến hành thu thập bất kỳ dữ liệu cá nhân nào thuộc nhóm <strong>dữ liệu cá nhân nhạy cảm</strong>, gắn liền với quyền riêng tư của khách hàng.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>3. Mục Đích Xử Lý Dữ Liệu</strong>
                </p>
                <p>Xử Lý Dữ Liệu Cá Nhân là một hoặc nhiều hoạt động tác động tới dữ liệu cá nhân, như: thu thập, ghi, phân tích, xác nhận, lưu trữ, chỉnh sửa, công khai, kết hợp, truy cập, truy xuất, thu hồi, mã hóa, giải mã, sao chép, chia sẻ, truyền đưa, cung cấp, chuyển giao, xóa, hủy dữ liệu cá nhân hoặc các hành động khác có liên quan.</p>
                <p>Theo đó, chúng tôi xử lý dữ liệu cá nhân của khách hàng chỉ cần thiết nhằm phục vụ cho các mục đích sau:</p>
                <p>• <strong>Đơn Hàng</strong>: để xử lý các vấn đề liên quan đến đơn đặt hàng của quý khách;</p>
                <p>• <strong>Duy Trì Tài Khoản</strong>: để tạo, xác thực và duy trì tài khoản của quý khách với chúng tôi, bao gồm cả các chương trình khách hàng thân thiết hoặc các chương trình thưởng đi kèm với tài khoản của khách hàng;</p>
                <p>• <strong>Dịch Vụ Người Tiêu Dùng, Dịch Vụ Chăm Sóc Khách Hàng</strong>: bao gồm các phản hồi cho các yêu cầu, khiếu nại và bình luận, đánh giá của khách hàng;</p>
                <p>• <strong>Cá Nhân Hóa</strong>: chúng tôi có thể tổ hợp dữ liệu cá nhân được thu thập để có một cái nhìn hoàn chỉnh hơn về một người tiêu dùng và từ đó cho phép chúng tôi phục vụ tốt hơn với sự cá nhân hóa mạnh hơn ở các khía cạnh, bao gồm nhưng không giới hạn: (i) để cải thiện và cá nhân hóa trải nghiệm của khách hàng trên website boardgame.vn; (ii) để cải thiện các tiện ích, dịch vụ, điều chỉnh chúng phù hợp với các nhu cầu được cá thể hóa và đi đến những ý tưởng dịch vụ mới; (iii) để phục vụ khách hàng với những giới thiệu, quảng cáo được điều chỉnh phù hợp với sự quan tâm của quý khách.</p>
                <p>• <strong>An Ninh</strong>: cho các mục đích ngăn ngừa các hoạt động phá hủy Tài khoản BOARD GAME VN của khách hàng hoặc các hoạt động giả mạo khách hàng.</p>
                <p>• <strong>Các hoạt động Tăng Cường Hiệu Quả Kinh Doanh, Phân Tích, Nghiên Cứu Thị Trường, Quảng Cáo và Tiếp thị</strong> như được nêu tại Mục 5 của Chính Sách Bảo Mật Dữ Liệu Cá Nhân này.</p>
                <p>• <strong>Theo yêu cầu của pháp luật</strong>: tùy quy định của pháp luật vào từng thời điểm, chúng tôi có thể tiến hành xử lý dữ liệu cá nhân của khách hàng theo yêu cầu của cơ quan nhà nước có thẩm quyền.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>4. Cách Thức Xử Lý Dữ Liệu</strong>
                </p>
                <p><strong>Cách thức thu thập dữ liệu cá nhân</strong>: Thu thập trực tiếp khi khách hàng cung cấp thông tin cá nhân cho chúng tôi, đồng thời thu thập gián tiếp thông qua cookies và các công nghệ theo dấu khi khách hàng tương tác trên website boardgame.vn và từ những nguồn hợp pháp khác.</p>
                <p><strong>Cách thức ghi, phân tích, xác nhận dữ liệu cá nhân</strong>: Khách hàng truy cập vào website boardgame.vn và tiến hành đăng ký Tài khoản BOARD GAME VN đồng thời với cung cấp các dữ liệu cá nhân của mình. Sau khi dữ liệu được ghi, hệ thống của BOARD GAME VN sẽ tự động phân tích và gửi một email/ tin nhắn SMS xác nhận đến địa chỉ email/ số điện thoại mà khách hàng đã cung cấp hoặc yêu cầu khách hàng trả lời một số câu hỏi an ninh.</p>
                <p><strong>Cách thức lưu trữ, truy cập, chỉnh sửa, xóa, hủy dữ liệu cá nhân</strong>: Dữ liệu cá nhân của khách hàng (bao gồm cả nhật ký hệ thống quá trình xử lý dữ liệu cá nhân) được lưu trữ trong cơ sở dữ liệu của BOARD GAME VN, có sử dụng các biện pháp tổ chức và kỹ thuật, cùng các biện pháp an toàn, bảo mật phù hợp. Khách hàng có thể truy cập vào website boardgame.vn và đăng nhập Tài khoản BOARD GAME VN, tại mục Bảng điều khiển để xem, xóa, chỉnh sửa, hủy hoặc yêu cầu BOARD GAME VN xóa, chỉnh sửa, hủy đối với các dữ liệu cá nhân của mình.</p>
                <p><strong>Cách thức truyền đưa, cung cấp, chuyển giao dữ liệu cá nhân</strong>: Dữ liệu cá nhân của khách hàng được truyền đưa, cung cấp, chuyển giao cho bên thứ ba chỉ khi có sự đồng ý của khách hàng, đúng với mục đích, phù hợp và giới hạn trong phạm vi của Chính Sách Bảo Mật Dữ Liệu Cá Nhân này.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>5. Thời Gian Lưu Trữ</strong>
                </p>
                <p>Dữ liệu cá nhân của khách hàng sẽ được lưu trữ và bảo mật trên hệ thống máy chủ của BOARD GAME VN kể từ thời điểm bắt đầu xử lý dữ liệu cho đến khi việc xử lý dữ liệu kết thúc, trừ trường hợp khách hàng tự ý xóa hoặc có yêu cầu BOARD GAME VN xóa dữ liệu cá nhân của mình hoặc pháp luật có quy định khác. Để làm rõ, thời gian xử lý dữ liệu là khoảng thời gian khách hàng duy trì tài khoản đăng nhập tại BOARD GAME VN.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>
                    <strong>6. Không Chia Sẻ Dữ Liệu Cá Nhân Khách Hàng</strong>
                </p>
                <p>Chúng tôi sẽ không cung cấp dữ liệu cá nhân của khách hàng cho bất kỳ bên thứ ba nào khác, trừ một số hoạt động cần thiết dưới đây:</p>
                <p>• Các đối tác là bên cung cấp dịch vụ cho chúng tôi liên quan đến thực hiện đơn hàng và chỉ giới hạn trong phạm vi thông tin cần thiết cũng như áp dụng các quy định đảm bảo an ninh, bảo mật dữ liệu cá nhân theo quy định pháp luật.</p>
                <p>• Chúng tôi có thể sử dụng dịch vụ từ một (hoặc một số) nhà cung cấp dịch vụ là bên thứ ba để thực hiện các hoạt động liên quan đến website boardgame.vn, và khi đó bên thứ ba này có thể tiến hành một (hoặc một số) hoạt động xử lý dữ liệu cá nhân của khách hàng trong quá trình cung cấp các dịch vụ đó. Chúng tôi yêu cầu các bên thứ ba này tuân thủ mọi luật lệ về bảo vệ dữ liệu và các yêu cầu về an ninh liên quan đến dữ liệu cá nhân khách hàng.</p>
                <p>• Các chương trình có tính liên kết, đồng thực hiện, thuê ngoài cho các mục đích được nêu tại Mục 2 của Chính Sách này và luôn áp dụng các yêu cầu bảo mật dữ liệu cá nhân.</p>
                <p>• Yêu cầu pháp lý: chúng tôi có thể tiết lộ dữ liệu cá nhân của khách hàng nếu điều đó do luật pháp yêu cầu và việc tiết lộ như vậy là cần thiết một cách hợp lý để tuân thủ các quy trình pháp lý.</p>
                <p>• Chuyển giao kinh doanh (nếu có): trong trường hợp sáp nhập, hợp nhất toàn bộ hoặc một phần với công ty khác, người mua sẽ có quyền xử lý đối với các dữ liệu cá nhân của khách hàng được chúng tôi lưu trữ, duy trì.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>7. An Toàn Dữ Liệu</strong>
                </p>
                <p>Chúng tôi luôn nỗ lực để giữ an toàn dữ liệu cá nhân của khách hàng, chúng tôi đã và đang thực hiện nhiều biện pháp an toàn, bao gồm:</p>
                <p>• Bảo đảm an toàn trong môi trường vận hành: chúng tôi lưu trữ dữ liệu cá nhân khách hàng trong môi trường vận hành an toàn và chỉ có nhân viên, đại diện và nhà cung cấp dịch vụ có thể truy cập trên cơ sở cần phải biết. Chúng tôi tuân theo các tiêu chuẩn ngành, pháp luật trong việc bảo mật dữ liệu cá nhân khách hàng.</p>
                <p>• Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân khách hàng, chúng tôi sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng để điều tra xử lý kịp thời và thông báo cho khách hàng được biết.</p>
                <p>• Các thông tin thanh toán: được bảo mật theo tiêu chuẩn ngành.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>8. Hậu Quả, Thiệt Hại Không Mong Muốn Có Khả Năng Xảy Ra</strong>
                </p>
                <p>Trong quá trình xử lý dữ liệu cá nhân trên website boardgame.vn, mặc dù chúng tôi luôn cố gắng bảo vệ dữ liệu cá nhân của khách hàng ở mức cao nhất, tuy nhiên sự cố bị lộ, mất dữ liệu, xử lý dữ liệu vẫn có thể sẽ xảy ra do những nguyên nhân khách quan (ví dụ: lỗi hệ thống, tin tặc,...). Chúng tôi luôn hợp tác chặt chẽ với các cơ quan nhà nước có thẩm quyền để khắc phục và hạn chế tối đa những hành vi này, và sẽ thông báo cho bạn trong thời gian sớm nhất sau khi có sự cố xảy ra.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>9. Quyền, Nghĩa Vụ Của Khách Hàng Đối Với Dữ Liệu Cá Nhân</strong>
                </p>
                <p><strong>Quyền Của Khách Hàng Đối Với Dữ Liệu Cá Nhân Của Mình</strong>: Khách hàng có quyền được biết về hoạt động xử lý dữ liệu cá nhân của mình; có quyền đồng ý hoặc không đồng ý, quyền rút lại sự đồng ý cho phép xử lý dữ liệu cá nhân; quyền truy cập để xem, chỉnh sửa hoặc yêu cầu chỉnh sửa, xóa hoặc yêu cầu xóa dữ liệu cá nhân của mình; quyền phản đối, quyền yêu cầu cung cấp, yêu cầu hạn chế xử lý dữ liệu cá nhân; quyền yêu cầu bồi thường thiệt hại khi xảy ra vi phạm; quyền khiếu nại, tố cáo, khởi kiện; và quyền tự bảo vệ dữ liệu cá nhân của mình.</p>
                <p><strong>Nghĩa Vụ Của Khách Hàng Đối Với Dữ Liệu Cá Nhân Của Mình</strong>: Khách hàng có nghĩa vụ tự bảo vệ dữ liệu cá nhân của mình; tôn trọng, bảo vệ dữ liệu cá nhân của người khác; cung cấp đầy đủ, chính xác dữ liệu cá nhân khi đồng ý cho phép BOARD GAME VN xử lý dữ liệu cá nhân của mình; yêu cầu BOARD GAME VN, các tổ chức, cá nhân khác có liên quan bảo vệ dữ liệu cá nhân của mình; các nghĩa vụ khác theo quy định pháp luật.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>10. Thông Tin Liên Hệ</strong>
                </p>
                <p>Trường hợp quý khách có bất kỳ câu hỏi hoặc thắc mắc nào về Chính Sách này, xin vui lòng liên hệ với chúng tôi bằng cách: gọi điện thoại đến hotline 0969914344 hoặc gửi thư điện tử đến địa chỉ email cskh@boardgame.vn.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>11. Các Tổ Chức, Cá Nhân Liên Quan Đến Việc Xử Lý Dữ Liệu</strong>
                </p>
                <p>CÔNG TY TNHH EVERJOY PUBLISHING</p>
                <p>Trụ sở tại: Số 18, Ngõ 127, phố Hào Nam, P. Ô Chợ Dừa, Q. Đống Đa, Tp. Hà Nội, Việt Nam Giấy chứng nhận đăng ký kinh doanh số 0107001119 Do Sở Kế hoạch và đầu tư TP Hà Nội cấp ngày 21/09/2015, sửa đổi lần thứ 7 ngày 16/02/2023</p>
                <p>&nbsp;</p>
                <p>
                    <strong>12. Hiệu Lực</strong>
                </p>
                <p>Chính Sách Bảo Mật Dữ Liệu Cá Nhân này được cập nhật và có hiệu lực từ ngày 01/01/2024.</p>
                <p>BOARD GAME VN có thể điều chỉnh Chính Sách này vào bất kỳ thời điểm nào, và đăng tải công khai Chính Sách đã được điều chỉnh trên website boardgame.vn. Việc khách hàng tiếp tục sử dụng dịch vụ của BOARD GAME VN mà không có bất kỳ khiếu nại nào đối với Chính Sách được điều chỉnh sẽ được hiểu rằng khách hàng đã chấp thuận Chính Sách được điều chỉnh đó của BOARD GAME VN.</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>