@{
    Layout = null;
}
<html lang="en">
<head>
    <title>404 Not Found</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="https://htmlstream.com/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://htmlstream.com/assets/img/favicon.ico" type="image/x-icon">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://htmlstream.com/assets/css/toolkit.min.css">
    <link rel="stylesheet" href="https://htmlstream.com/assets/css/styles.hs.min.css">
</head>
<body>
    <main class="g-min-height-100vh g-flex-centered g-pa-15">
        <div class="text-center g-flex-centered-item g-position-rel g-pb-15">
            <div class="g-font-size-180 g-font-size-240--sm g-line-height-1 g-font-weight-600er g-color-gray-light-v4">401</div>

            <div class="g-absolute-centered">
                <h1 class="g-color-black g-mt-minus-8 mb-0">401 Không có quyền truy cập</h1>

                <hr class="g-brd-gray-light-v3 g-my-15">

                <p class="g-font-size-18 mb-0">
                    <a href="/" class="u-link-v5 g-color-black g-color-primary--hover g-text-no-underline--hover">← Trang chủ</a>
                </p>
            </div>
        </div>
    </main>
</body>
</html>