<!-- Breadcrumb -->
<div class="navbar-dark bg-dark" style="background-image: url(/Assets/svg/wave-pattern-light.svg);">
    <div class="container content-space-1 content-space-b-lg-3">
        <div class="row align-items-center">
            <div class="col">
                <div class="d-none d-lg-block">
                    <h1 class="h2 text-white">Thông tin cá nhân</h1>
                </div>
            </div>
            <!-- End Col -->

            <div class="col-auto">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-default">
                        <i class="bi-list"></i>
                    </span>
                    <span class="navbar-toggler-toggled">
                        <i class="bi-x"></i>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- End Breadcrumb -->