@{
    ViewBag.Title = "Footer";
}

<footer class="border-top">
    <div class="container">
        <div class="row justify-content-lg-between pt-2 pb-2">
            <div class="col-lg-3 mb-5">
                <div class="d-flex align-items-start flex-column h-100">
                    <!-- End Logo -->
                    <p class="text-muted small mb-0">&copy;  @DateTime.Now.Year - HP Shop<p>
                        <div class="p-2 bg-info rounded-1 text-white">
                            <span style="font-size: 11px;">
                                Tại HP Shop, chúng tôi tự hào là một địa chỉ tin cậy với sự uy tín và trách nhiệm cao.
                                Chúng tôi cam kết tài khoản nhanh chóng đến mail khách hàng ngay lập tức trong vòng chưa tới 1 phút và bảo mật,
                                Bộ phận hỗ trợ của chúng tôi hoạt động liên tục 24/7,
                                luôn sẵn sàng đáp ứng mọi nhu cầu và thắc mắc của khách hàng.
                                Chúng tôi chắc chắn sẽ giúp đỡ và hỗ trợ bạn trong mọi lúc.
                            </span>
                        </div>
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
                <h5>Giới thiệu</h5>

                <!-- List -->
                <ul class="list-unstyled list-py-1">
                    <li><a class="link-sm text-secondary" href="/IntroduceMinecraft">Giới thiệu game Minecraft</a></li>
                    <li><a class="link-sm text-secondary" href="#">Game bản quyền là gì?</a></li>
                    <li><a class="link-sm text-secondary" href="#">Hệ thống fanpage chính thức</a></li>
                    <li><a class="link-sm text-secondary" href="#">Hướng dẫn tạo ví VN PAY</a></li>
                </ul>
                <!-- End List -->
            </div>
            <!-- End Col -->

            <div class="col-6 col-md-4 col-lg-3 mb-5 mb-lg-0">
                <h5>Chính sách</h5>

                <!-- List -->
                <ul class="list-unstyled list-py-1">
                    <li><a class="link-sm text-secondary" href="#">Điều khoản và dịch vụ</a></li>
                    <li><a class="link-sm text-secondary" href="#">Chính sách bảo mật</a></li>
                </ul>
                <!-- End List -->
            </div>
            <!-- End Col -->

            <div class="col-md-4 col-lg-3 mb-5 mb-lg-0">
                <h5 class="mb-3">Liên hệ</h5>

                <!-- List -->
                <ul class="list-unstyled list-py-1">
                    <li><a class="link-sm link-secondary" href="#"><i class="bi-question-circle-fill me-1"></i> FAQ</a></li>
                    <li><a class="link-sm link-secondary" href="javscript:void(0)"><i class="bi-person-circle me-1"></i> Hotline: 19001968</a></li>
                    <li><a class="link-sm link-secondary" href="javscript:void(0)"><i class="bi-person-circle me-1"></i> CSKH: hpshop@gmail.com</a></li>
                    <li><a class="link-sm link-secondary" href="javscript:void(0)"><i class="bi-person-circle me-1"></i> FB: HP Shop</a></li>
                    <li><a class="link-sm link-secondary" href="javscript:void(0)"><i class="bi-person-circle me-1"></i> INS: HP Shop</a></li>
                </ul>
                <!-- End List -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->

        <hr class="my-0">

        <div class="row align-items-sm-center content-space-1">
            <div class="col-sm mb-4 mb-sm-0">
                <!-- Socials -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-soft-secondary btn-xs btn-icon text-primary" href="javscript:void(0)">
                            <i class="bi-facebook"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a class="btn btn-soft-secondary btn-xs btn-icon text-danger" href="javscript:void(0)">
                            <i class="bi-google"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a class="btn btn-soft-secondary btn-xs btn-icon text-primary" href="javscript:void(0)">
                            <i class="bi-twitter"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a class="btn btn-soft-secondary btn-xs btn-icon text-dark" href="javscript:void(0)">
                            <i class="bi-github"></i>
                        </a>
                    </li>
                </ul>
                <!-- End Socials -->
            </div>

            <div class="col-sm-auto">
                <!-- List -->
                <ul class="list-inline list-separator">
                    <li class="list-inline-item">
                        <a class="link-sm link-secondary" href="../page-privacy.html">Privacy &amp; policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-sm link-secondary" href="../page-terms.html">Terms &amp; conditions</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-sm link-secondary" href="../page-careers.html">Careers</a>
                    </li>
                </ul>
                <!-- End List -->
            </div>
        </div>
    </div>
</footer>
