<div id="liveToast"
     class="position-fixed toast hide bg-danger"
     role="alert" aria-live="assertive"
     aria-atomic="true" style="top: 20px; right: 20px; z-index: 9090;">
    <div class="toast-body d-flex align-items-center justify-content-between">
        <span id="alertMessage" class="text-white">This is a danger alert—check it out!</span>
        <div class="text-end">
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
