<div class="container content-space-2">
    <div class="row">
        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="~/Assets/svg/brands/amazon-dark.svg" style="width: 90px; height: 32px;" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="~/Assets/svg/brands/mudbox-icon.svg" style="width: 90px; height: 32px;" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="~/Assets/svg/brands/paypal-icon.svg" style="width: 90px; height: 32px;" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="~/Assets/svg/brands/shopify.svg" style="width: 90px; height: 32px;" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="~/Assets/svg/brands/visa.svg" style="width: 90px; height: 32px;" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="~/Assets/svg/illustrations/oc-money-profits.svg" style="width: 90px; height: 32px;" alt="Logo">
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
