<div class="bg-light">
    <div class="container content-space-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
            <div class="row justify-content-lg-between">
                <!-- Heading -->
                <div class="mb-5">
                    <span class="text-cap">Đăng ký nhận tin tức khuyến mãi</span>
                    <h2>Nhận khuyến mãi mới nhất từ chúng tôi</h2>
                </div>
                <!-- End Heading -->

                <form>
                    <!-- Input Card -->
                    <div class="input-card input-card-pill input-card-sm border mb-3">
                        <div class="input-card-form">
                            <label for="subscribeForm" class="form-label visually-hidden">Nhập email</label>
                            <input type="text" class="form-control form-control-lg" id="subscribeForm" placeholder="Nhập email" aria-label="Nhập email">
                        </div>
                        <button type="button" class="btn btn-primary btn-lg rounded-pill">Đăng ký</button>
                    </div>
                    <!-- End Input Card -->
                </form>
            </div>
        </div>
    </div>
</div>